<?xml version="1.0" encoding="UTF-8"?>

<!-- This needed to be in a separate config to get rid of logs triggered before the application.config is applied. -->

<configuration>
    <include resource="org/springframework/boot/logging/logback/base.xml" />
    <logger name="root" level="WARN"/>
</configuration>
